.carousel-inner .carousel-item {
  height: 550px;
}
.carousel-inner img {
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

/* product */
.card {
  transition: 0.5s;
  border: 0;
  box-shadow: 2px 2px 5px rgba(158, 158, 158, 0.5);
}
.card:hover {
  transform: scale(1.1);
  background: rgb(248, 248, 248);
  /* color: white; */
  /* box-shadow: 0px 0px 0px grey; */
}
.card a {
  transition: 0.5s;
}
.card a:hover {
  text-decoration: underline;
}

.figure {
  overflow: hidden;
}
.figure img {
  transition: 0.3s;
  height: 200px;
  background-size: cover;
}
.figure img:hover {
  transform: scale(1.2);
}

.figure .imgs {
  width: 100px;
}

/* ******************************gallery */
.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.center {
  margin: auto;
  font-size: 70px;
}

/* contact */
.container-fluid i {
  font-size: 45px;
  cursor: pointer;
}
.color {
  color: black;
  transition: 0.5s;
  cursor: pointer;
}
.box {
  border-radius: 5px;
  box-shadow: 2px 2px 14px rgba(221, 221, 221, 0.6),
    -2px -2px 15px rgba(195, 195, 195, 0.3);
}

.frame {
  box-shadow: 2px 2px 10px rgba(221, 221, 221, 0.6),
    -2px -2px 5px rgba(214, 214, 214, 0.5);
}

.img-thumbnail {
  height: 200px;
  width: 300px;
}

/* logo */
.logo {
  border-radius: 15px;
  margin-top: 5px;
}

.align-center {
  padding-top: 2%;
  background-image: url("images/1.jpg");
}

.background-img {
  /* background-image: url("images/1.jpg") !important; */

  /* background-color: red; */
}

.navbar {
  background-color: #1e1c1c !important;
}
